---
layout: page
title: "About"
description: "Hey, this is kaelzhang."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
	<!--<option value="0" selected> 英语 English </option>-->
	<option value="0" selected> 中文 Chinese </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
	<blockquote>
		这是一个终生学习者，keep going！
	</blockquote>

	<p>
		大家好，我是 <strong>kael zhang</strong>。目前的角色：敏捷技术教练，系统架构师，PMP，深圳软件匠艺推动者。
	</p>

	<p>
		擅长C++，python，go等编程语言，具备丰富的领域建模、代码质量提升、TDD、自动化测试等实战经验。对深圳软件技术社区发展推广亦有贡献，组织多次社区活动（APAC、GDCR、编码道场等）。目前对元编程、docker及微服务具有浓厚兴趣。
	</p>

	<p>
		工作之余喜欢读书、写小文、听音乐、羽毛球、旅游以及研究新事物。
	</p>

	<h5>个人简历</h5>
	<ul>
		<li>
			<a href="/attach/2017_kaelzhang_cn.pdf">2016_kaelzhang_cn</a>
		</li>
	</ul>

</div>

<!-- English Version -->
<!--<div class="en post-container">
	<blockquote>
		People call me BigLeg.
	</blockquote>

	<p>
		Hi, here is <strong>Haojun Sui</strong>, you can call me <strong>Charles</strong>. I am currently pursuing Bachelor Degrees of Computer Science, Mathematics (System Analysis), and Statistics (Applied) in Schreyer Honor College, Pennsylvania State University.
	</p>

	<p>
		I am currently working in The Penn State Institute for CyberScience and my focus was on maintaining and managing campus-wide Apache Hadoop and Spark server, and helping university professors resolve technical issues while using our products.
	</p>

	<h5>Resume</h5>
	<ul>
		<li>
			<a href="/attach/2016_Haojun_en.pdf">2016_Haojun_en</a>
		</li>
	</ul>
</div>-->

<!-- Handle Language Change -->
<script type="text/javascript">
	var $zh = document.querySelector(".zh");
	var $en = document.querySelector(".en");
	function onLanChange(index){
		if(index == 1){
			$zh.style.display = "block";
			$en.style.display = "none";
		}else{
			$en.style.display = "block";
			$zh.style.display = "none";
		}
	}
	onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
	<div class="ds-thread"
	{% if site.duoshuo_username == "huxblog" %}
		data-thread-id="1187623191091085319"
	{% else %}
		data-thread-key="{{site.duoshuo_username}}/about"
	{% endif %}

	data-title="{{page.title}}"
	data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
	// dynamic User hacking by Hux
	var _user = document.getElementById('dsUser').value;
	// duoshuo comment query.
	var duoshuoQuery = {short_name: _user };
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
	<div id="disqus_thread" class="disqus-thread">

	</div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES * * */
	var disqus_shortname = "{{site.disqus_username}}";
	var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
	var disqus_url = "{{site.url}}{{page.url}}";

	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
